body {
	background:#444;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 1.2em;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Open Sans Condensed', sans-serif;
	line-height: 110%;
}

h1 {
	margin:0;
	padding: 0 0 10px 0;
	font-size: 3em;
}

header {
	background: #00BCD4;
    min-height: 100px;
    margin: -10px;
    padding: 10px;
    color: #FFF;

}

button {
	padding:10px 30px;
	border:none;
	box-shadow: 1px 4px 10px rgba(0,0,0,0.4);
	background:#047;
	color:#FFF;
	font-size:1em;
}

.textobasico {
	background:#FFC;
	padding:10px;
	font-style: italic;
}

ul.topicolink {
	padding:10px 0;
	margin: 0 0 -10px 0;
}

ul.topicolink li {
	margin:0 0 10px 0;
	padding: 20px;
	text-decoration: none;
	color: #FFF;
	background: #069;
	display: block;
	border-radius: 10px;
	border-bottom-right-radius: 0;
	box-shadow: 1px 4px 5px rgba(0,0,0,.3);	
    cursor: pointer;
}

ul.topicolink li:hover{
	background:#479;
	color:#FF0;
}

.container {
	margin: 0 auto;
	width: 100%;
	background:#222;
}

ul.toplink {
	position:absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3000 !important;
    padding: 0;
    margin: 0;
}

ul.toplink li {
    display: inline-block;
    float: left;
    padding: 20px 25px;
    background: linear-gradient(to top,#069, #07A);
    color: #FFF;
    margin: 0;
    border:none;
    border-left: 1px solid #000;
    font-size: .7em;
    cursor: pointer;
    box-shadow: 0 8px 10px rgba(0,0,0,.3);
}

.page {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #FFF;
	margin: 0;
	transition: 0s;
	box-shadow: -20px 0 30px rgba(0,0,0,.3);
	overflow-y: scroll;
}

.content {
	padding: 70px 10px 10px 10px;
}

.content img {
	width: 100%
}


.helper {
	font-size: .7em;
	font-style:italic;
	color:#F00;
	margin: -20px 0 0 0;
	display: block;
}


#btNewTopic {
	border-radius: 50%;
	background: #F44336;
	color: #FFF;
	font-weight:bold;
	font-size: 1.2em;
	padding:16px 23px;
	float:right;
	margin: 5px 5px 20px 5px;
	box-shadow: 1px 4px 10px rgba(0,0,0,0.4);
	cursor: pointer;
}


#preludio:empty:not(:focus):before,
.pgtitulo:empty:not(:focus):before,
.textobasico:empty:not(:focus):before,
.pgtexto:empty:not(:focus):before{	
  content:attr(data-placeholder);
  color: #555;
  display: block; /* For Firefox */
}

/*
#page3,
#page5,
#page9 {background:#FFC}
#page2,
#page6,
#page10 { background:#CFF}

#page7,
#page11 { background:#FCF}
*/