body {
	background:#444;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 1.2em;
}

h1,h2,h3,h4,h5,h6 {
	font-family: Lato, 'Open Sans Condensed', sans-serif;
	line-height: 110%;
	font-weight:400;
}

h1 {
	margin:0;
	padding: 0 0 10px 0;
	font-size: 2em;
}

header {
	background: #00BCD4;
    min-height: 100px;
    margin: -70px -10px 20px -10px;
    padding: 60px 10px 10px 10px;
    color: #FFF;
}

button {
	padding:10px 30px;
	border:none;
	box-shadow: 1px 4px 10px rgba(0,0,0,0.4);
	background:#047;
	color:#FFF;
	font-size:1em;
}

.textobasico {
	background:#FFC;
	padding:10px;
	font-style: italic;
}

ul.topicolink {
	padding:10px 0;
	margin: 0 0 -10px 0;
}

ul.topicolink li {
	margin:0 0 5px 0;
	padding: 15px 10px;
	text-decoration: none;
	color: #FFF;
	font-weight: normal;
	background-color:#00BCD4;
    background-position: right center;
    background-repeat: no-repeat;
	background-image:url(../img/icon/32/next.png);

	border:1px solid #DDD;

    cursor: pointer;
	display: block;
 	border-radius: 5px;
	box-shadow: 0px 2px 2px rgba(0,0,0,.2);	
}

ul.topicolink li:hover{
	background-position: 98% center;
	color:#FF0;
}




.container {
	margin: 0 auto;
	width: 100%;
	background:#222;
}


/* NAVIGATION --- BEGIN */

ul.toplink {
	position:absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3000 !important;
    padding: 0;
    margin: 0;
    background-color:#00BCD4;
}

ul.toplink li {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:rgba(255,255,255,.2);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}


li#tl_back {
	background-image:url(../img/icon/32/back.png);
}
li#tl_home {
	background-image:url(../img/icon/32/home.png);
}
li#tl_next {
	background-image:url(../img/icon/32/next.png);
}
li#tl_menu {
	background-image:url(../img/icon/32/menu.png);
}
li#tl_full {
	background-image:url(../img/icon/32/up.png);
}

/* NAVIGATION --- END */

.page {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #FFF;
	margin: 0;
	transition: .6s;
	box-shadow: -20px 0 30px rgba(0,0,0,.3);
	overflow-y: scroll;
}

.content {
	padding: 70px 10px 10px 10px;
}

.content img {
	width: 100%
}


.helper {
	font-size: .7em;
	font-style:italic;
	color:#F00;
	margin: -20px 0 0 0;
	display: none;
}


#btNewTopic {
	border-radius: 50%;
	background: #F44336;
	color: #FFF;
	font-weight:bold;
	font-size: 1.2em;
	padding:16px 23px;
	float:right;
	margin: 5px 5px 20px 5px;
	box-shadow: 1px 4px 10px rgba(0,0,0,0.4);
	cursor: pointer;
}


.border {
	position:fixed;
	top: 0;
	bottom: 0;
	width: 30px;
	height: 100%;
	opacity: 0;
	display: table;
	vertical-align: center;
	z-index:4000;
	color:#FFF;
	background:#FFF;
}

#nextpage {
	right:0;
}
#prevpage {
	left:0;
}

#preludio:empty:not(:focus):before,
.pgtitulo:empty:not(:focus):before,
.textobasico:empty:not(:focus):before,
.pgtexto:empty:not(:focus):before{	
  content:attr(data-placeholder);
  color: #009688;
  font-style:italic;
  font-size:.8em;
}



/* MENU --- BEGIN */

.menu {
	position:absolute;
	left:50px;
	top:4px;
	background:rgba(255,255,255,.9);
	z-index:4000;
	border-radius: 5px;
	transition: .3s;	
	padding:10px;
	color:#000;
	font-size: .8em;
	box-shadow:0 20px 60px rgba(0,0,0,.6);
}

.menu .item{
	display:inline-grid;
	width:260px;
}

.menu .item span {
	display:block;
	padding:10px 5px;
}

.menu ul {
	background:#FFF;
	margin:0;
	padding:0;
	border: 1px solid #DDD;
	border-radius:5px;
}

.menu ul li {
	display: block;
	padding:15px;
	padding-left: 50px;
	border-bottom:1px solid #DDD;
	background-position:8px center;
	background-repeat:no-repeat;
	background-image:url(../img/icon/32/black/toc.png);
	cursor: pointer;
}

.menu ul li:hover {
	background-color: #FFC;
}

.menu.on {
	opacity: 1;
	transform: rotate(0);
}

.menu.off {
	left: -500px;
	transform: rotate(40deg);
    transform-origin: 0px 0px;
    opacity: 0;
}

#mn_save {
	background-image:url(../img/icon/32/black/save.png);
}

#mn_load {
	background-image:url(../img/icon/32/black/load.png);
}

#mn_list {
	background-image:url(../img/icon/32/black/fd.png);
}
/* MENU --- END */



@media screen and (max-width: 480px) {
	
	.menu {
		width:260px;
	}

}

@media screen and (min-width: 580px) {
	.menu {
		width: auto;
	}
}